@{
    ViewBag.Title = "Home Page";
}
<div>
    <button class="get-data-btn">get data</button>
    <button class="remove-data-with-null-btn">remove data with null id</button>
</div>
@*Load your result inside table-wrapper*@
<div class="table-wrapper">
    <h2>Result</h2>
</div>